<h1>Pizza Delivery</h1>

<div class="blurb">We offer delicious and afordable Pizzas, check our Menu on your Dashboard and enjoy your day with the best Pizza in all over the world!! Always in time with the best Pizza delivery drivers, taken care and handling your <span class="text-red">warm Pizza</span> <span class="text-bold">from the oven to you</span>. Order Now!!</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>